
*{
    margin: 0;
    padding: 0;
}
.body{
    background-image:
        url("./images/image1.png");
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
  }
  .body1{
    background-image: 
    url("./images/FullImage.png");
  
    background-repeat: no-repeat;
    background-size: cover;
  
    height: 100vh;
  }
  